bin
logs
src
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
project-code/bin
project-code/conf
project-code/project
project-code/target
project-code/test
project-code/.settings
project-code/build.sbt
project-code/README
project-code/.classpath
project-code/.project
project-code/.gitignore
